In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

In [10]:
import numpy as np

df['log_fare'] = df.Fare.apply(lambda x: np.log(x + 1))

In [11]:
df.groupby("Pclass")["log_fare"].mean()

Pclass
1    4.097748
2    2.886742
3    2.491012
Name: log_fare, dtype: float64

In [4]:
df["Age"].isnull().sum()

177

In [5]:
df.groupby("Pclass")["Age"].apply(lambda x: x.isnull().sum())

Pclass
1     30
2     11
3    136
Name: Age, dtype: int64

In [12]:
df.groupby("Pclass").agg({"Age": [sum, min, max, np.mean]})

            Age
            sum   min   max       mean
Pclass
1       7111.42  0.92  80.0  38.233441
2       5168.83  0.67  70.0  29.877630
3       8924.92  0.42  74.0  25.140620

In [13]:
for name, grp in df.groupby("Pclass"):
    import pdb; pdb.set_trace()
    #breakpoint()

> c:\users\chait\appdata\local\temp\ipykernel_8408\258099742.py(1)<module>()

ipdb> name
1
ipdb> grp
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked  log_fare
1        0  PC 17599  71.2833          C85        C  4.280593
3        0    113803  53.1000         C123        S  3.990834
6        0     17463  51.8625          E46        S  3.967694
11       0    113783  26.5500         C103        S  3.316003
23       0    113788  35.5000           A6        S  3.597312
..     ...       ...      ...          ...      ...       ...
871      1     11751  52.5542          D35        S  3.980694
872      0       695   5.0000  B51 B53 B55        S  1.791759
879      1     11767  83.1583          C50        C  4.432700
887      0    112053  30.0000          B42        S  3.433987
889      0    111369  30.0000         C148        C  3.433987

[216 rows x 13 columns]
ipdb> exit

BdbQuit: